{% extends 'base.html' %}
{% block container %}

<div class="container">
  <div class="container">
    <h3>Profile</h3>
    <p>Full name:{{user.get_full_name}}</p>
    <p>Username:{{ request.user.username }}</p>
    <p>Symptoms:{{ request.Patient.symptoms }}</p>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <br>
      <button type="submit"class="btn btn-primary" >Add file</button>
    </form>
    <h3>{{ text }}</h3>
    {% for post in posts %}
      <h1>{{post.post}}</h1>
      <p>Posted by {{post.user.get_full_name}} on {{post.created}}</p>
      {%endfor %}
    
  </div>
</div>
 {% endblock container %}
